- name: Install and configure Nginx
  hosts: webservers
  become: yes
  tasks:
    - name: Install Nginx
      apt: 
        name: nginx
        state: present
        update_cache: yes
        cache_valid_time: 3600

    - name: Start and enable Nginx
      service:
        name: nginx
        state: started
        enabled: yes

    - name: Deploy index.html
      template:
        src: index.html.j2
        dest: /var/www/html/index.html


